# Managed by ansible.
# file: {{ template_destpath }}

[mysqld]
bind-address = {{ mariadb_bind_address }}
port = {{ mariadb_port }}
{% if mariadb_tls_enabled %}
ssl = ON
ssl-cert = {{ mariadb_tls_cert_file | to_json }}
ssl-key = {{ mariadb_tls_key_file | to_json }}
{% if mariadb_tls_ca_file | length > 0 %}
ssl-ca = {{ mariadb_tls_ca_file | to_json }}
{% endif %}
{% endif %}
{% if mariadb_require_secure_transport %}
require-secure-transport = ON
{% endif %}
{% for __mariadb_plugin in mariadb_plugins %}
plugin-load-add = {{ (__mariadb_plugin.name ~ '=' ~ __mariadb_plugin.library) | to_json }}
{{ __mariadb_plugin.name }} = {{ (__mariadb_plugin.enabled | default(true)) | ternary('FORCE', 'OFF') }}
{% for __mariadb_option in (__mariadb_plugin.options | default({})).items() %}
{{ __mariadb_option[0] }} = {{ __mariadb_option[1] | to_json }}
{% endfor %}
{% endfor %}
